Source: ros-noetic-magni-robot
Section: misc
Priority: optional
Maintainer: Rohan Agrawal <send2arohan@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-magni-robot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-magni-bringup, ros-noetic-magni-demos, ros-noetic-magni-description, ros-noetic-magni-nav, ros-noetic-magni-teleop
Description: The magni_robot package
